body{
    background: #2d3136;
    min-width: 400px;
}

#main{
    display: flex;
    font-style: sans-serif;
    font-size: 1rem;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background: #4bd3ec;
    padding: 2rem;
    border-radius: 0 2rem;
    box-shadow: 3px 3px 3px #25272b;
    min-width: 400px;
}


.header{
    display: flex;
    font-style: sans-serif;
    font-size: 2rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fcf1d6;
    padding: 2rem;
    height: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 2rem 0;
    box-shadow: 3px 3px 3px #25272b;
    min-width: 400px;
}

.header h1{
    font-size: 2rem;
    padding: 0;
    margin-top: 0;
    margin-bottom: 1rem;
}
.header h2{
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}


#main input, select {
    width: 6rem;
    height: 2rem;
    padding-left: 1rem;
    font: inherit;
    box-shadow: 1.5px 1.5px 1.5px #3b4046;
}
#main input[type='range'] {
    padding-left: 0;
}
select {
    margin-top: 1rem;
    width: 22rem;
    text-align: center;
}

#pivot-radius-display{
  height: 4px;
  width: 4px;
  margin-top: 2rem;
  margin-left: 3rem;
  background-color: #fbc034;
  border: 2px solid #3b4046;
  border-radius: 50%;
}

.flex-row-space-between{
    display: flex;
    align-items: center;
}

#main label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fbc034;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    border-radius: 4rem 8rem 6rem;
    box-shadow: 3px 3px 3px #3b4046;
}

#main #image-path {
    max-width: 32rem;
    min-width: 460px;
}

#main button {
    width: 8rem;
    height: 4rem;
    font: inherit;
    background-color: #f3f3ff;
    border: 1px solid #8a8a8a;
    box-shadow: 3px 3px 3px #3b4046;
}

#main button:hover {
    background-color: #ff9c00;
    border: 2px solid #2d3136;
    cursor: pointer;
}

.top-marg2rem{
    margin-top: 2rem;
}

.padding-div-1rem{
    content: "";
    min-height: 1rem;


}